@using System.Web.UI.WebControls
@model mdrrp_prototype.Models.Project

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Auth.cshtml";
}

<h2>Create project</h2>
<hr/>

<div class="panel panel-primary">
    <div class="panel-heading">
        @Html.ActionLink("Back to projects", "Index", "Project", null, new { @class = "btn btn-info pull-right" })
        <h3 class="heading-text">Enter Project Details</h3>
    </div>
    <div class="panel-body">
        <div class="col-md-8">
            @using (Html.BeginForm("Save", "Project"))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h6>THE <span class="text-danger">*</span> DENOTES REQUIRED FIELD</h6>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">

                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="row">
                            <div class="col-md-6">

                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Enter Project Name" } })
                                <span class="text-danger"></span>
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2 text-danger">
                                *
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="row">
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Enter Project Code" } })
                                <span class="text-danger"></span>
                                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2 text-danger">
                                *
                            </div>
                        </div>

                       
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ApprovalDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="row">
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.ApprovalDate, new { htmlAttributes = new { @class = "form-control" } })
                                <span class="text-danger"></span>
                                @Html.ValidationMessageFor(model => model.ApprovalDate, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2 text-danger">
                                *
                            </div>
                        </div>
                      
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ClosingDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="row">
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.ClosingDate, new { htmlAttributes = new { @class = "form-control" } })
                                <span class="text-danger"></span>
                                @Html.ValidationMessageFor(model => model.ClosingDate, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2 text-danger">
                                *
                            </div>
                        </div>
                       
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Objective, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="row">
                            <div class="col-md-6">
                                @Html.TextAreaFor(model => model.Objective, new { @class = "form-control", cols = "5", rows = "3" })
                                <span class="text-danger"></span>
                                @Html.ValidationMessageFor(model => model.Objective, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2 text-danger">
                                *
                            </div>
                        </div>
                      
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.IsRegionallyTagged, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.IsRegionallyTagged)
                                @Html.ValidationMessageFor(model => model.IsRegionallyTagged, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BankIFCCollaboration, htmlAttributes: new { @class = "control-label col-md-2" })
                       
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.BankIFCCollaboration)
                                @Html.ValidationMessageFor(model => model.BankIFCCollaboration, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>



                    <div class="form-group">
                        @Html.LabelFor(model => model.Budget, htmlAttributes: new { @class = "control-label col-md-2", })
                        <div class="row">
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Budget, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Enter Budget" } })
                                <span class="text-danger"></span>
                                @Html.ValidationMessageFor(model => model.Budget, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2 text-danger">
                                *
                            </div>
                        </div>
                           
                        </div>
                       
                           

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-info btn-block" />
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>
</div>


