@model mdrrp_prototype.Models.RolePermission

@{
    ViewBag.Title = "Assign";
    Layout = "~/Views/Shared/_Auth.cshtml";
}

<h2>Role And Permissions Assignment</h2>
<div style="margin-bottom: 50px;">
    @Html.ActionLink("Back to roles","Index","Role",null,new {@class="btn btn-info pull-right"})

</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="heading-text">Assign Role to user</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Assign","Permission", FormMethod.Post)) 
        {
            @Html.AntiForgeryToken()
    
            <div class="form-horizontal">
               
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.RoleId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("RoleId", null,new {@class="form-control"})
                        @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Permissions, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.ListBox("Permissions", (MultiSelectList)ViewBag.Permissions,new {@class="form-control"})
                        @Html.ValidationMessageFor(model => model.Permissions, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Assign" class="btn btn-primary btn-block" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>



